body {
  font-family: "Helvtica Neue", sans-serif;
}

.content {
  margin: auto;
  padding: 20px;
}

.pane {
  width: 400px;
}

.thumbnail {
  height: 280px !important;
}

.btn-droppable {
  width: 180px; height: 30px; padding-left: 4px;
}

.btn-draggable {
  width: 160px;
}
