<div class="modal-content">
  <h1>Add a job</h1>
<form class="jobForm" name="jobForm">
  Company:&nbsp;<input type="text" name="input" ng-model="company"><br>
  Position:&nbsp;<input type="text" name="input" ng-model="position"><br>
  URL:&nbsp;<input type="text" name="input" ng-model="url"><br>
  Priority:&nbsp;<input type="text" name="input" ng-model="priority"><br><br>
</form>
  <button class="btn btn-default" ng-click="ok()">Ok</button>
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
